.collections__card {
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 12px 12px;
  border: 1px solid #0f0f0f;
  background: #fff;
}

.collections__image {
  width: 360px;
  height: 190px;
}

.collections__container {
  display: flex;
  padding: 20px 32px;
  justify-content: space-between;
  align-content: center;
}

.collections__info {
  display: flex;
  flex-direction: column;
}

.collections__name {
  color: #191919;
  font-family: "Roboto";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 10px;
}

.collections__subtitle {
  color: #191919;
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.collections__subscribe {
  width: 50px;
  height: 50px;
  border: 2px solid #000;
}
