.trending {
  display: flex;
  flex-direction: column;
  background-color: #fefcf8;
}

.trending__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 140px 0 60px 0;
}

.trending__title {
  color: #0f0f0f;
  font-family: "Roboto";
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
}

.trending__button {
  border: none;
  color: inherit;
  background-color: transparent;
  display: flex;
  gap: 15px;
  cursor: pointer;
  align-items: center;
  color: #000;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.trending__catalog {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
}
