.culture__box {
  border-radius: 10px;
  border: 1px solid #000;
  background: #fff;
}

.culture__text {
  padding: 17px 25px;
  color: #0f0f0f;
  text-align: center;
  font-family: Work Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
}
