.main__hired {
  display: flex;
  flex-direction: column;
  background-color: #000;
  padding-top: 150px;
}

.hired__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 70px;
}

.hired__title {
  max-width: 35%;
  color: #fff;
  font-family: "Roboto";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
}

.hired__button-text {
  color: #0f0f0f;
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
