.header {
  background-color: #fefcf8;
  padding: 16px 0;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
  margin: 0 auto;
}

.signup {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}
