.header {
  background-color: #fefcf8;
  padding: 16px 0;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  font-size: 15px;
  color: #000;
}

.header__signup {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

.signup__link {
  font-size: 13px;
}

.header__button {
  font-size: 14px;
  line-height: 24px;
}
