.header {
  display: flex;
  background-color: #fefcf8;
  padding-top: 16px;
  padding-bottom: 16px;
}

.nav {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
}

.link {
  text-decoration: none;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  color: #000;
}

.header__signup {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  margin-right: 30px;
}

.signup__link {
  font-size: 13px;
}

.button__text {
  text-align: center;
  font-family: "Work Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
