.main__nav {
  display: flex;
  padding: 20px 0;
  margin-bottom: 35px;
  gap: 48px;
  justify-content: center;
}

.main__link {
  text-decoration: none;
  color: #b3b3b3;
  font-size: 17px;
}

.main__link:hover {
  color: #1a1a1a;
  border-bottom: 1px solid #1a1a1a;
  /* padding-top: 2px; */
}

.catalog {
  display: grid;
  /* place-content: center;
  place-items: center; */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
