.header__wrapper {
  display: flex;
  align-items: center;
  margin: 0 30px;
}

.intro__wrapper {
  margin: 0 70px;
}

.hired__wrapper {
  margin: 0 85px;
}

.main__wrapper {
  margin: 0 30px;
}

.accordion__wrapper {
  margin: 0 110px;
}
