.subscribe {
  display: flex;
  flex-direction: column;
}

.tm {
  color: #fff;
  font-family: "Roboto";
  font-size: 16px;
  margin-bottom: 40px;
}

.inputContainer {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.contacts {
  display: flex;
  gap: 25px;
}

.logosContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e0e0e0;
}

.logo {
  padding: 10px;
}
