.card {
  max-width: 275px;
  max-height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card__image {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 12px 0;
}

.text__container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.card__title {
  font-size: 15px;
  color: #1a1a1a;
  text-decoration: none;
}

.card__subtitle {
  color: #a8a8a8;
}

.card__text > span {
  font-size: 13px;
}
