.started__box {
  display: flex;
  padding: 45px 40px;
  border-radius: 20px;
  border: 1px solid #000;
  transition: all 0.3s ease-in;
  background: #fff;

  gap: 20px;
}

.active {
  box-shadow: 6px 6px 0px 0px #000;
}

.started__number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #000;
  background: #fff;
  box-shadow: 3px 3px 0px 0px #000;
}

.started__number > span {
  color: #000;
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.started__text {
  display: flex;
  align-items: center;
  color: #0f0f0f;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
}

.started__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: 60px;
}

.started__info {
  display: flex;
  width: 570px;
  height: 460px;
  border-radius: 20px;
  border: 1px solid #000;
  background: #daccff;
}
