.main__culture {
  display: flex;
  flex-direction: column;
  margin-bottom: 140px;
}

.culture__title {
  color: #0f0f0f;
  font-family: "Roboto";
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 60px;
}

.culture__container {
  display: flex;
  row-gap: 32px;
  column-gap: 23px;
  flex-wrap: wrap;
}
