.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 30px 60px 0;
}

.title {
  color: #0f0f0f;
  font-family: "Roboto";
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
}

.button {
  border: none;
  color: inherit;
  background-color: transparent;
  display: flex;
  gap: 15px;
  cursor: pointer;
  align-items: center;
  color: #000;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
