.link {
  text-decoration: none;
  color: #000;
}

.nav {
  font-size: 15px;
}

.signup {
  font-size: 13px;
}

.footer {
  color: #d3d3d3;
  font-size: 17px;
  margin-bottom: 15px;
}

.copyright {
  color: #fff;
  font-size: 12px;
}
